<div class="w3-bar w3-indigo">
    <a href="#" class="w3-bar-item w3-button">Angular MinEco</a>
    <a routerLink="inicio" href="#" class="w3-bar-item w3-button">Inicio</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Contenido</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a routerLink="/input-output/padre" class="w3-bar-item w3-button">Input-Output</a>
            <a routerLink="/change-detection/listas" class="w3-bar-item w3-button">Listas</a>
            <a routerLink="/reactividad/product-list" class="w3-bar-item w3-button">Reactividad</a>
            <a routerLink="/redux/my-counter" class="w3-bar-item w3-button">ngrx-redux</a>
            <a routerLink="/redux-shop/product-list" class="w3-bar-item w3-button">Shop redux</a>
            <a routerLink="/reactive-form/user-form" class="w3-bar-item w3-button">Reactive Form</a>
            <a routerLink="/kanban-firebase/tareas" class="w3-bar-item w3-button">Kanban Firebase</a>
            <a routerLink="/pwa-capacitor/lista-alumnos" class="w3-bar-item w3-button">pwa-capacitor</a>
        </div>
    </div>
</div>