<div class="w3-center">
    <div>
        <h1>Contador</h1>
        <h3>{{contador}}</h3>
    </div>

    <div class="w3-bar">
        <button class="w3-button w3-round-large w3-indigo w3-bat-item w3-margin-right" (click)="incrementar()">
            Incrementar
        </button>
        <button class="w3-button w3-round-large w3-indigo w3-bat-item" (click)="decrementar()">
            Decrementar
        </button>
    </div>
    
    <div class="w3-margin-top">
        <app-hijo [hcontador]="contador" (emitirAlPadre)="contador=$event"></app-hijo>
    </div>
</div>